body {
    background-image: url("../imgs/back.jpg");
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 105vh;
}

#hero {
    position: relative;
    top: 75px;
}

#footer {
    position: relative;
    top: 150px;
}