body {
    background-image: url("styles/imgs/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(60%);
}

#hero {
    position: relative;
    top: 75px;
}

#footer {
    position: relative;
    top: 150px;
}