body {
    background-image: url("../imgs/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
}

#hero {
    position: relative;
    top: 75px;
}

#footer {
    position: relative;
    top: 150px;
}

/* MOBILE */
@media (max-width: 550px) {
    body {
        min-height: 150vh;
    }

    #hero {
        display: grid;
        grid-template-columns: auto;
    }

    #footer {
        display: grid;
        grid-template-columns: auto;
    }
}