body {
    background-repeat: repeat-y;
}

.produkty-container {
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

.card-img-top {
    height: 300px;
}

.card {
    height: 600px;
}